In [11]:
import numpy as np
import pandas as pd
from numpy import random as rng

### Question 1

In [44]:
def calc_mean_std(n):
    d1, d2 = rng.randint(1,7,n), rng.randint(1,7,n)
    df = pd.DataFrame([d1,d2]).transpose()
    df['payout'] = 0
    for r in df.iterrows():
        if(r[1][0] == 6 and r[1][1] == 6):
            r[1]['payout'] = 4
        elif(r[1][0] == 6 or r[1][1] == 6):
            r[1]['payout'] = 2
        else:
            r[1]['payout'] = -1
    return np.average(df.payout), np.std(df.payout)

In [45]:
for i in range(1,7):
    n = 10 ** i
    print(n, calc_mean_std(n))

10 (-0.69999999999999996, 0.9)
100 (-0.13, 1.467344540317645)
1000 (-0.012, 1.4892467894878962)
10000 (-0.0189, 1.5049062396043265)
100000 (-0.0229, 1.5050500290683864)
1000000 (-0.032474999999999997, 1.4971540917274468)

In [48]:
d1, d2 = rng.randint(1,7,10000), rng.randint(1,7,10000)
df = pd.DataFrame([d1,d2]).transpose()
df['payout'] = 0
for r in df.iterrows():
    if(r[1][0] == 6 and r[1][1] == 6):
        r[1]['payout'] = 4
    elif(r[1][0] == 6 or r[1][1] == 6):
        r[1]['payout'] = 2
    else:
        r[1]['payout'] = -1

In [49]:
df[:100]

    0  1  payout
0   3  2      -1
1   6  3       2
2   4  5      -1
3   5  5      -1
4   3  2      -1
5   6  1       2
6   1  4      -1
7   6  4       2
8   6  4       2
9   3  4      -1
10  1  5      -1
11  1  1      -1
12  2  3      -1
13  6  1       2
14  4  5      -1
15  2  1      -1
16  3  1      -1
17  1  2      -1
18  1  1      -1
19  3  4      -1
20  3  3      -1
21  6  1       2
22  1  4      -1
23  1  2      -1
24  2  6       2
25  3  6       2
26  1  6       2
27  2  5      -1
28  4  2      -1
29  2  4      -1
.. .. ..     ...
70  3  4      -1
71  4  4      -1
72  5  1      -1
73  3  5      -1
74  1  6       2
75  1  4      -1
76  5  6       2
77  4  2      -1
78  1  5      -1
79  4  4      -1
80  3  6       2
81  5  2      -1
82  2  6       2
83  3  3      -1
84  3  5      -1
85  6  3       2
86  1  5      -1
87  3  2      -1
88  1  2      -1
89  4  6       2
90  1  3      -1
91  2  5      -1
92  2  3      -1
93  2  2      -1
94  5  2      -1
95  2  2      -1
96  6  2       2
97  5  3      -1
98  6  1       2
99  4  5      -1

[100 rows x 3 columns]

### Question 2